[Unit]
Description=Run the Graphhopper routing engine
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/java -D"dw.graphhopper.datareader.file=/home/jetson/graphhopper/den.pbf" -jar /home/jetson/graphhopper/graphhopper*.jar server /home/jetson/graphhopper/config-example.yml
Restart=on-failure

[Install]
WantedBy=multi-user.target
