<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mapbox.services.android.navigation.sensoway">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.mapbox.services.android.navigation.sensoway.NavigationApplication"
        android:enableOnBackInvokedCallback="true"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="tiramisu">
        <activity
            android:name="com.mapbox.services.android.navigation.sensoway.NavigationUIActivity"
            android:label="@string/title_navigation_ui">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mapbox.services.android.navigation.sensoway.MainActivity" />
        </activity>
        <activity
            android:name="com.mapbox.services.android.navigation.sensoway.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mapbox.services.android.navigation.sensoway.NavigationSettings"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>