{% extends 'master.html' %}
{% block content %}
 <!-- Her bliver ruterne hentet -->

 {% for route in routes %}
<div>
    <h2>{{route.route_name}}</h2>
 <select id="{{route.id}}">
    <option value="N/A" selected>Not assigend</option>
    <option value="{{route.user}}" selected>{{route.user}}</option>
    {% for skraldemand in user %}
    {% if skraldemand != route.user %}
    <option value="{{ skraldemand }}">{{ skraldemand }}</option>
    {% endif %}
    {% endfor %}
</select>

{% for adress in route.as_list %}
<p>{{adress}}</p>
{% endfor %}
</div>
<button onclick="sendCall({id:{{route.id}}, driver:document.getElementById({{route.id}}).value})">Submit</button>
{% endfor %}



    <!-- Her ses logud knappen -->
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log out</button>
    </form>


<script>
async function sendCall(data){
    const config  = {
        method: "POST",
        body: JSON.stringify(data)
    }
    fetch("{% url 'add_driver' %}", config).then(res => {
        console.log("Kører tildelt")
        alert('Ruten er tildelt')
    }).catch(error =>{
        alert('Der skete en fejl')
    })
}
</script>


{% endblock content %}
