{% extends 'master.html' %}
{% block content %}


    {% for i in complete_adresslist %}
    <select>
        <option value="Default" selected>Not assigend</option>
        {% for l in user %}
        <option value="{{ l }}">{{ l }}</option>
        {% endfor %}
     </select>
    {% for j in i %}
        <li>{{ j }}</li>
    {% endfor %}
    <br>
    {% endfor %}




    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" >Log out</button>
    </form>
{% endblock content %}
