{% extends 'master.html' %}
{% block content %}

 <!-- Her bliver ruterne hentet -->
<h3 class="siteHeader">Historik</h3>
<div class="parent">
 {% for route in routes %}
<div id="div-color-{{ route.id }}" class="route-user-none" driver-value="{{ route.user }}">
    <h2>{{route.route_name}}</h2>

<p>Ruten er kørt af: </p>
 <div class="historyBoxes">
    <p>{{route.user}}</p>
 </div>

 <!-- Her kaldes funktionen fra route klassen -->
{% for adress in route.coordinate_to_adress %}
<p>{{adress}}</p>
{% endfor %}

<p>{{route.operating_date}}</p>

</div>

{% endfor %}
</div>


{% endblock content %}