{% extends 'master.html' %}
{% block content %}
<h3 class="siteHeader">Indstillinger</h3>

<div>
<p> Indstil tidsintervallet mellem data forsendelserne</p>

<div class="slidecontainer divIndstillinger">
    <input type="range" min="0" max="24" value="{{ timeinterval }}" class="slider" id="tidsinterval">
    <p>Timer: <span id="intervalOutput"></span></p>

  <button id="submitButton", style="float: left;" onclick="sendTimeinterval()">Submit</button>
  </div>


  <div class="divIndstillinger">
    <p>Tilføj skraldespandsø</p>
    <form method="post">
        {{ add_trashisland.as_p }}
        {% csrf_token %}
        <button type="submit", onclick="addIsland()" >Tilføj skraldespand</button>
    </form>
</div>

  <div class="divIndstillinger">
    <p>Tilføj skraldespand</p>

  <form method="post">
    {{ add_trashcan.as_p }}
    {% csrf_token %}
    <button type="submit" >Tilføj skraldespand</button>
</form>

  </div>

  <script>

    async function sendTimeinterval(){
        const timeinterval = document.getElementById( "tidsinterval").value
        const config  = {
            method: "POST",
            body: JSON.stringify({timeinterval : timeinterval})
        }
        fetch("{% url 'set_timeinterval' %}", config).then(res => {
            console.log("Tidsinterval tildelt")
        }).catch(error =>{
            alert('Der skete en fejl')
        })
    }


    var slider = document.getElementById("tidsinterval");
    var output = document.getElementById("intervalOutput");
    output.innerHTML = slider.value;

    slider.oninput = function() {
    output.innerHTML = this.value;
    }

    
  </script>


{% endblock content %}